body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #ddd;
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  gap: 20px;
}

.form {
  width: 30%;
  background: #fff;
  padding: 15px;
}

.form input, textarea {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background: #1f2a33;
  color: white;
  border: none;
  cursor: pointer;
}

.resume {
  width: 70%;
  display: flex;
  background: white;
  min-height: 1000px;
}

/* LEFT PANEL */
.left {
  width: 32%;
  background: #1f2a33;
  color: white;
  padding: 25px;
}

.photo {
  width: 120px;
  height: 120px;
  background: #999;
  margin-bottom: 20px;
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

.section h3 {
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
  margin-top: 20px;
}

/* RIGHT PANEL */
.right {
  width: 68%;
  padding: 30px;
}

.right h2 {
  border-bottom: 2px solid #444;
  padding-bottom: 5px;
  margin-top: 20px;
}